form(method='post', action='/login')
	label(for='username')
		| Username :
		input(type='text', name='username', placeholder='Enter your username')
	label(for="password")
		| Password :
		input(type='password', name='password')
	input(type='submit', value='Login')